body{
  font-family: Raleway;
  font-size: 20px;
}
p{
 margin-right: 10%;
  margin-left: 10%;
}
img{
 text-align: center;
}

#home {
  margin-top: 5%;
  padding: 10% 0;
}

.navbar {
  background-color: #2A5866;
  padding: 0.05%;
  border: none;
  font-size: 15px;

}

.navbar li, .navbar-header {
  padding: 2px;
}

.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}

.navbar-nav li.active a, .navbar-nav li a:hover {
  color: #2A5866 !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  color: #fff;
}

.container-fluid{
  position: relative;
  padding: 5%;
  margin: 0 auto;
}

.bg-w {
  background-color: #A7DAEA;
}
.bg-w body {
  font-size: 20px;
}
.bg-w h1 {
  color: #000;
}
.bg-w h3 {
  color: darkgray;
}

.bg-w li 
{
   margin-right: 10%;
    margin-left: 10%;
}
.bg-b {
  background-color: #4A99B2;
}
.bg-b p{
  font-size: 20px;
}
.bg-b h1 {
  color: #fff;
}
.bg-b h3 {
  color: lightgray;
}

.panel-heading {
  background-color: #495F66 !important;
  color: #fff !important;
}

.thumbnail {
  background-color: #495F66;
  color: #fff;
}

.thumbnail p {
  margin: 5px;
}

.row {
  padding: 5px;
}

.btn-default{
  background-color: #5FC5E5 !important;
  color: gray !important;
}

.btn-default:hover {
  background-color: #495F66 !important;
  color: #5FC5E5 !important;  
}

.panel, .panel-body, .panel-heading, .btn-default, .thumbnail {
  border-radius: 0;
  border: none;
}

